.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.piano-container {
    width: 100%;
    height: 30em;
    max-width: 100%;
    text-align: center;
    background-color: yellow;
}

.bars-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column-reverse; */
    /* position: absolute; */
    left: 30%;
    /* rotate: 180deg; */
    /* bottom: 100px; */
}

