.center-container {
    height: 100vh;
    background-color: black;
}

.center-container h1{
    color: white;
    text-align: center;
}

.piano-container {
    width: 100%;
    height: 30em;
    max-width: 100%;
    text-align: center;
    background-color: yellow;
}

.bars-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30rem;
    left: 30%;
}

